# This is a .gitignore file for a Python project
# It specifies files and directories that should be ignored by Git.         
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb 
*.egg
*.egg-info/                 

*.venv/
*.env
*.virtualenv
*.ipynb_checkpoints/
*.DS_Store
*.log
*.coverage
*.mypy_cache/
*.pytest_cache/
*.tox/
*.dist-info/
*.whl
*.zip
*.tar.gz
*.rar
*.swp
*.bak
*.tmp
*.orig
*.db
*.sqlite3

python/jogoteca/uploads/*.jpg
python/jogoteca/uploads/*.png
python/jogoteca/uploads/*.jpeg

